{include file='view/headers.html'}
{include file='view/left.html'}
<script src="{JS_PATH}cateshow.js"></script>
<style>
    input{
        border:none;
        outline:none;
        background:none;
    }

</style>
    <div class="right">
        <table class="table table-striped">
            <theard>
                <th>id</th>
                <th>栏目名称</th>
                <th>缩略图</th>
                <th>父级栏目</th>
                <th>操作</th>
            </theard>
            <tbody>
               {foreach $tos as $v}
                   <tr data-id="{$v['cid']}">
                   <td class="id">{$v['cid']}</td>
                   <td><input type="text" value="{$v['cname']}" data-type="cname" ></td>
                   <td><img src="{$v['cthumb']}" alt="" class="img-thumbnail" style="width: 60px;height: 60px;"></td>
                   <td><input type="text" value="{$v['pid']}" data-type="pid"></td>
                   <td><button class="btn btn-default" type="submit">删除</button></td>
               </tr>
               {/foreach}
            </tbody>
        </table>
    {include file='view/footers.html'}
</body>
</html>
