<!-- footer开始 -->
<div class="foot">
    <a href="/index.php/index" class="foot1">
        <i class="iconfont icon-shouye"></i><br>
        首页
    </a>
    <a href="/index.php/cate" class="foot1">
        <i class="iconfont icon-leimupinleifenleileibie--"></i><br>
        分类
    </a>
    <a href="/index.php/shopping" class="foot1">
        <i class="iconfont icon-gouwuche"></i><br>
        购物车
    </a>
    <a href="/index.php/user/land" class="foot1">
        <i class="iconfont icon-geren"></i><br>
        个人
    </a>
</div>
</body>
</html>
