<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{CSS_PATH}cateadd.css">
    <link rel="stylesheet" href="{CSS_PATH}bootstrap.css">
    <script src="{JS_PATH}jquerys.js"></script>
    <script src="{JS_PATH}main.js"></script>

</head>
<body>

<div class="nav">
    <img src="{IMG_PATH}lq.jpg" alt="">
    <a href="/index.php/out" class="btn btn-primary btn-lg active" role="button" style="width: 54px;height: 34px;font-size:14px;padding:9px 12px;margin-left:60%;">退出</a>
</div>