{include file='view/header.html'}
<link rel="stylesheet" href="{CSS_PATH}land.css">
<script src="{JS_PATH}land.js"></script>
<div class="dl-top">
    <a href="javascript:history.back()" class="left"> × </a>
    <div class="center">趣购网</div>
    <a href="zhuce.html" class="right">注册</a>
</div>
<input type="text" name="name" value="" form="myform" placeholder="用户名">
<input type="password" name="pass" value="" form="myform" placeholder="密码">
<!--<input type="hidden" value="{$data['name']}" name="name">-->
<!--<input type="hidden" value="{$data['pass']}" name="pass">-->
<form id="myform"></form>
<a class="tiaozhuan"href="#"><input type="button"name="button" value="登陆"></a>
<div class="last">
    <a href="/index.php/user/register" class="zhleft">注册账号</a>
    <a href="" class="zhright">忘记密码</a>
</div>

</body>
</html>