{include file='view/header.html'}
<link rel="stylesheet" href="https://at.alicdn.com/t/font_471082_scp6hj298pycik9.css">
<link rel="stylesheet" href="{CSS_PATH}register.css">
<script src="{JS_PATH}register.js"></script>
<div class="dl-top">
    <a href="javascript:history.back()" class="left"> × </a>
    <div class="center">注册</div>
</div>
<input type="text" form="myform" name="name" value="" placeholder="用户名">
<input type="password" form="myform" name="pass" value="" placeholder="密码">
<input type="tel" name="phone" form="myform" value="" placeholder="电话">
<form id="myform"></form>
<a class="tiaozhuan"href="##"><input type="button" name="button" value="注册"></a>
<div class="last">
    <i class="iconfont icon-gantanhao"></i>&nbsp;
    <a href="" class="">如果您已注册,请直接登陆。</a>

</div>
</body>
</html>